:root {
  /* primary colors */
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  /* neutral colors */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  /* font (400i - 700 - 800i)*/
  --main-font: "Poppins", sans-serif;
}

body {
  background-color: var(--off-white);
  font-family: var(--main-font);
  font-size: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
